body {
  background-color: #A9A9A9;
  margin: 0;
  margin-bottom: 15px;
  padding: 30px;
  font-family: "Raleway", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;
}
@media (max-width: 600px) {
  body {
    padding: 0;
    margin-bottom: 0;
    background-color: white;
  }
}
.paper {
  width: 660px;
  height: 854px;
  background-color: white;
  border: 0;
  box-shadow: 20px 20px 20px rgba(26, 21, 21, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: relative;
  border-radius: 3px;
  padding-top: 20px;
}
@media (max-width: 600px) {
  .paper {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}
.outline {
  margin: 20px;
  margin-top: 0;
  width: calc(660px - 44px);
  height: calc(854px - 44px - 5px);
  border: 2px solid black;
  border-radius: 3px;
  padding-top: 25px;
}
@media (max-width: 600px) {
  .outline {
    width: calc(100% - 44px);
    height: 100%;
  }
}
.header {
  color: black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 600px) {
  .header {
    width: 320px;
    border: 0;
    margin-top: -1px;
  }
}
h1 {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: center;
  font-family: "Cinzel", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;
  border: 0;
}
@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
}
h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-top: -12px;
  padding: 0;
  font-family: "Cinzel", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;
}
@media (max-width: 600px) {
  h2 {
    font-size: 22px;
    margin-top: -4px;
  }
}
p {
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
p a,
p a:link,
p a:visited,
p a:hover,
p a:active {
  color: black;
  text-decoration: underline;
}
p a:hover,
p a:active {
  text-decoration: underline;
  color: white;
  background-color: black;
}
@media (max-width: 600px) {
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.signoff {
  margin-left: 25px;
  margin-top: 15px;
  font-weight: normal;
  font-size: 18px;
}
.signoff .salutation {
  margin-bottom: 15px;
}
.signoff .signature {
  background-image: url("img/signature.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 211px 46px;
  display: block;
  width: 211px;
  height: 46px;
}
.signoff .name {
  width: 300px;
  margin-top: -15px;
  border-top: 0;
  padding-left: 0;
}
@media (max-width: 600px) {
  .signoff {
    margin-left: 10px;
  }
}
::selection {
  background: #fff2a8;
}
::-moz-selection {
  background: #fff2a8;
}
.footer {
  bottom: 0;
  color: black;
  left: 0;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 28px;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-family: "Cinzel", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;
}
.footer a,
.footer a:link,
.footer a:visited,
.footer a:hover {
  font-weight: normal;
  text-decoration: none;
  color: black;
}
.footer a:hover,
.footer a:active {
  text-decoration: underline;
}
.footer .divider {
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 600px) {
  .footer {
    position: relative;
    margin-top: 50px;
    margin-bottom: -1px;
    margin-left: -1px;
    width: calc(100% + 2px);
    padding-bottom: 8px;
  }
}
