@primary-color: #061e5c;
@text-color: white;
@color3: #0080d6;
@accent-color: #030e2b;
@highlight-color: #fff;

@text-font: "Raleway", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;;
@elegant-font: "Cinzel", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;

@standard-radius: 3px;
@transition-time: 0.5s;

body {
    background-color: #BDC3C7;

    .container {
        background-color: @primary-color;
    }
}



h1 {
    margin: 0;

    color: @text-color;
    
    font-size: 44px;
    font-weight: 700;
    font-family: @elegant-font;
    text-transform: capitalize;
    text-align: center;

    text-shadow:
        0 5px 4px rgba(0,0,0,.7),
        0 9px 14px rgba(0,0,0,.4),
        0 19px 24px rgba(0,0,0,.4);
}

h2 {
    margin-top: -5px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    
    color: @text-color;

    font-size: 32px;
    font-weight: 700;
    font-family: @elegant-font;

    text-transform: uppercase;
    text-align: center;

    text-shadow:
        0 5px 4px rgba(0,0,0,.7),
        0 9px 14px rgba(0,0,0,.4),
        0 19px 24px rgba(0,0,0,.4);
}

h3 {
    width: 100%;

    text-align: center;
    vertical-align: middle;

    color: @text-color;

    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

h4 {
    font-size: 14px;
    font-weight: 500;
}

p {
    color: @text-color;
}

ul {
    li {
        a,
        a:link,
        a:visited {
            color: @text-color;
            background-color: @primary-color;

            border: 2px solid @text-color;

            margin-top: 2px;
            margin-bottom: 2px;

            border-radius: @standard-radius;
            text-decoration: none;

            transition: @transition-time;
        }

        a:hover,
        a:active {
            color: @primary-color;
            text-decoration: none;

            transition: @transition-time;
        }
    }
}

@icon-size: 32px;
.icon {
    width: 100%;

    text-align: center;
    vertical-align: middle;

    font-size: @icon-size;
    line-height: @icon-size;

    background: transparent;
    color: @text-color;
}

.tile-shadow {
    box-shadow:
        0 5px 4px rgba(0,0,0,.7),
        0 9px 14px rgba(0,0,0,.4),
        0 19px 24px rgba(0,0,0,.4);
}

.tile {
    margin: 2px;
    padding: 15px;

    border: 2px solid @text-color;
    border-radius: @standard-radius;

    background-color: @primary-color;
}

@link-button-height: 50px;
@link-button-width: 650px;
@link-button-icon-width: 40px;
@link-button-border-width: 2px;

.link-button {
    background-color: @primary-color;

    border: @link-button-border-width solid @text-color;
    border-radius: @standard-radius;

    width: @link-button-width;
    height: @link-button-height;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    .graphic {
        height: 100%;
        width: @link-button-icon-width;

        background: @text-color;

        float: left;
        text-align: center;
        vertical-align: middle;
        line-height: @link-button-height;

        .fa,
        .fas,
        .fab {
            color: @primary-color;

            line-height: 24px;
            font-size: 24px;
            vertical-align: middle;
        }
    }

    @detail-left-margin: 10px;
    .detail {
        height: 100%;
        width: calc(@link-button-width - @link-button-icon-width - (2 * @link-button-border-width));

        padding: 0;

        color: @text-color;
        background-color: @primary-color;
        
        float: left;
    }

    .detail.single-line {
        h4 {
            margin: 0;
            margin-left: @detail-left-margin;
            line-height: @link-button-height;
            vertical-align: middle;

            font-size: 16px;
        }
    }

    .detail.two-lines {
        h4 {
            line-height: calc(@link-button-height / 2);
            height: 50%;
            vertical-align: middle;

            margin: 0;
            margin-left: @detail-left-margin;

            font-size: 16px;
        }

        h5 {
            line-height: calc(@link-button-height / 2);
            height: 50%;

            margin: 0;
            margin-left: @detail-left-margin;

            vertical-align: middle;
        }
    }

}

a {
    .detail {
        color: @text-color !important;
        background-color: @primary-color !important;
    
        transition: @transition-time;
    }
}

a:hover,
a:active {
    .detail {
        color: @primary-color !important;
        background-color: @text-color !important;
    
        transition: @transition-time;
    }
}


.no-pad {
    padding: 0;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.copyright {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.textured-background {
    background:
        radial-gradient(@accent-color 3px, transparent 4px),
        radial-gradient(@accent-color 3px, transparent 4px),
        linear-gradient(@primary-color 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, @accent-color 75px, @accent-color 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, @accent-color 76px, @accent-color 77px, transparent 78px, transparent 109px),
        @primary-color;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.fit-content {
    width: fit-content;
    
    margin-left: auto;
    margin-right: auto;
}

::selection {
    background: @highlight-color;
}
::-moz-selection {
    background: @highlight-color;
}

// SM
@media (max-width: 768px) {
    .sm-display-none {
        display: none;
    }
}