@color1: #061e5c;
@color2: white;
@color3: #0080d6;
@accent-color: #030e2b;
@highlight-color: #fff;

@text-font: "Raleway", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;;
@elegant-font: "Cinzel", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;

@large-screen-margin: 25px;
@small-screen-margin: 10px;
@small-screen-size: 600px;

@card-height: 850px;
@card-width: 600px;
@card-radius: 3px;

@card-border-margin: 6px;
@card-border-padding: 2px;
@card-border-color: @color2;

@border-a-width: 2px;

@inner-border-outside-width: 1px;
@inner-border-inside-width: 2px;

@content-margin: 6px;

@story-height: 50px;
@story-width: 450px;
@icon-col-width: 40px;
@detail-col-left-padding: 5px;
@details-margin: 5px;

@mobile-story-margin: 10px;

body {
    background-color: #BDC3C7;

    padding: 30px;
    margin: 0;

    font-family: @text-font;
}
@media (max-width: @small-screen-size) {
    body {
        height: 100%;
        width: 100%;
        
        padding: 0;
        margin: 0;

        background-color: @color1;
    }
}

.card {
    min-height: @card-height;
    height: auto;
    width: @card-width;
    
    border-radius: @card-radius;
    border: 0;

    background-color: @color1;

    color: @color2;
    box-shadow: 20px 20px 20px rgba(26, 21, 21, 0.9);
    margin-bottom: 25px;

    position: absolute;
    top: 10px;
    left: calc(50% - (@card-width / 2));
}
@media (max-width: @small-screen-size) {
    .card {
        height: 100%;
        width: 100%;

        border-radius: 0;
        box-shadow: none;

        top: 0;
        left: 0;
        margin: 0;
    }
}

.border-a {
    height: calc(@card-height - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width));
    width: calc(@card-width - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width));

    border-radius: @card-radius;
    border: @border-a-width solid @card-border-color;

    position: absolute;
    margin: @card-border-margin;
    padding: @card-border-padding;
}

.border-b {
    height: calc(@card-height - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width) - (2 * @inner-border-outside-width));
    width: calc(@card-width - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width) - (2 * @inner-border-outside-width));
    
    border-radius: @card-radius;
    border: @inner-border-outside-width solid @card-border-color;

    position: absolute;
    margin: 0;
    padding: 0;
}

.border-c {
    height: calc(@card-height - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width) - (2 * @inner-border-outside-width) - (2 * @inner-border-inside-width));
    width: calc(@card-width - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width) - (2 * @inner-border-outside-width) - (2 * @inner-border-inside-width));

    border-radius: 0;
    border: @inner-border-inside-width dashed @card-border-color;

    position: absolute;
    margin: 0;
    padding: 0;
}

.border-d {
    height: calc(@card-height - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width) - (4 * @inner-border-outside-width) - (2 * @inner-border-inside-width));
    width: calc(@card-width - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width) - (4 * @inner-border-outside-width) - (2 * @inner-border-inside-width));

    border-radius: 0;
    border: @inner-border-outside-width solid @card-border-color;
}

@media (max-width: @small-screen-size) {
    .border-a,
    .border-b,
    .border-c,
    .border-d {
        height: 100%;
        width: 100%;

        border: 0;

        margin: 0;
        padding: 0;
    }
}

@h1-top-margin: 14px;

.content {
    height: calc(@card-height - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width) - (4 * @inner-border-outside-width) - (2 * @inner-border-inside-width) - (2 * @content-margin) - @h1-top-margin);
    width: calc(@card-width - (2 * @card-border-margin) - (2 * @card-border-padding) - (2 * @border-a-width) - (4 * @inner-border-outside-width) - (2 * @inner-border-inside-width) - (2 * @content-margin));

    margin: @content-margin;
    padding: 0;
    padding-top: @h1-top-margin;
}
@media (max-width: @small-screen-size) {
    .content {
        height: 100%;
        width: 100%;

        border: 0;

        margin: 0;
    }
}

.textured-background {
    background:
        radial-gradient(@accent-color 3px, transparent 4px),
        radial-gradient(@accent-color 3px, transparent 4px),
        linear-gradient(@color1 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, @accent-color 75px, @accent-color 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, @accent-color 76px, @accent-color 77px, transparent 78px, transparent 109px),
        @color1;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    font-family: @elegant-font;

    text-transform: capitalize;
    text-align: center;

    color: @color2;
    text-shadow:
        0 5px 4px rgba(0,0,0,.7),
        0 9px 14px rgba(0,0,0,.4),
        0 19px 24px rgba(0,0,0,.4);

    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: @elegant-font;

    text-transform: uppercase;
    text-align: center;

    color: @color2;
    text-shadow:
        0 5px 4px rgba(0,0,0,.7),
        0 9px 14px rgba(0,0,0,.4),
        0 19px 24px rgba(0,0,0,.4);
    
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: @text-font;
    color: @color2;
    
    text-transform: uppercase;
    text-align: center;

    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    width: 100%;
}

h4 {
    font-size: 16px;
    font-family: @text-font;
    font-weight: 500;
    height: 100%;
    
    vertical-align: middle;
    text-align: left;

    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 500;
    font-family: @text-font;
    color: @color2;

    text-align: left;
    
    width: @story-width;

    margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    padding: 0;
}
@media (max-width: @small-screen-size) {
    p {
        width: calc(100% - (2 * @mobile-story-margin));
        margin-left: @mobile-story-margin;
        margin-right: @mobile-story-margin;
    }
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: @color2;
    text-decoration: none;
}

.horizontal-tile-aligner {
    width: 100%;

    margin-top: 10px;
    padding: 0;

    text-align: left;
}

@tile-border-width: 2px;

.tile {
    border: @tile-border-width solid @color2;
    border-radius: @card-radius;
    background-color: @color1;

    box-shadow:
        0 5px 4px rgba(0,0,0,.7),
        0 9px 14px rgba(0,0,0,.4),
        0 19px 24px rgba(0,0,0,.4);
}

.tile.horizontal {
    height: @story-height;
    width: @story-width;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    .graphic {
        height: 100%;
        width: @icon-col-width;
        float: left;
        
        text-align: center;
        vertical-align: middle;
        background: @color2;
        line-height: @story-height;

        .fa {
            color: @color1;
            line-height: 24px;
            font-size: 24px;
            vertical-align: middle;
        }
    }

    .detail {
        height: 100%;

        padding: 0;
        width: calc(@story-width - @icon-col-width);

        float: left;
        color: @color2;
        background-color: @color1;

        h4 {
            margin-left: 10px;
            line-height: 50px;
        }
    }
}

@verticle-tiles-in-row: 2;
@vertical-tile-total-space: calc(@story-width / @verticle-tiles-in-row);
@vertical-tile-margin: 5px;
@vertical-tile-size: calc(@vertical-tile-total-space - @vertical-tile-margin - (2 * @tile-border-width));

.vertical-tile-aligner {
    width: @story-width;

    margin-top: 10px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    text-align: left;
}

.tile.vertical {
    height: @vertical-tile-size;
    width: @vertical-tile-size;
    float: left;

    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;

    .detail {
        h4 {
            margin-top: 5px;
            text-align: center;

            .sm {
                font-size: 14px;
            }
        }

        p {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 13px;
            width: 100%;
            text-align: center;
            padding: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .graphic {
        @image-size: 140px;
        @image-margin: calc((@vertical-tile-size - @image-size) /2);

        width: @vertical-tile-size;

        .logo {
            width: @image-size;
            height: @image-size;
            margin-left: @image-margin;
            margin-right: @image-margin;

            background-repeat: no-repeat;
            background-size: @image-size @image-size;
            display: inline-block;
        }

        .logo.mu {
            background-image: url("img/mu_140.png");
        }

        .logo.msoe {
            background-image: url("img/msoe_140.png");
        }
    }
}

.vertical.tile.left {
    margin-right: @vertical-tile-margin;
}

.vertical.tile.right {
    margin-left: @vertical-tile-margin;
}

a {
    .tile:hover,
    .tile:active {
        .detail {
            color: @color1;
            background-color: @color2;
        }
    }
}

::selection {
    background: @highlight-color;
}
::-moz-selection {
    background: @highlight-color;
}
