@import "variables.less";

@ring-pad: 4px;

.ring-a {
    margin-top: 20px;
    margin-bottom: 20px;

    padding: @ring-pad;

    border-radius: @standard-radius;

    box-shadow: 20px 20px 20px rgba(26, 21, 21, 0.9);
}

.ring-b {
    border: 2px solid white;
    padding: 0;
    border-radius: @standard-radius;
}

.ring-c {
    padding: @ring-pad;
    border-radius: @standard-radius;
}

.ring-d {
    border: 2px solid white;
    border-radius: @standard-radius;
}

.ring-e {
    border: 2px dashed white;
    border-radius: 0px;
}

.ring-f {
    border: 2px solid white;
}

.ring-g {
    padding: 10px;
}