@import "variables.less";

@ring-pad: 4px;

.ring-a {
    margin-top: 20px;
    margin-bottom: 20px;

    padding: @ring-pad;

    border-radius: @standard-radius;

    box-shadow: 20px 20px 20px rgba(26, 21, 21, 0.9);
}

@media (max-width: @click-tile-width) {
    .ring-a {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.ring-b {
    border: 2px solid @text-color;
    padding: 0;
    border-radius: @standard-radius;
}

.ring-c {
    padding: @ring-pad;
    border-radius: @standard-radius;
}

.ring-d {
    border: 2px solid @text-color;
    border-radius: @standard-radius;
}

.ring-e {
    border: 2px dashed @text-color;
    border-radius: 0px;
}

.ring-f {
    border: 2px solid @text-color;
}

.ring-g {
    padding: 10px;
}