@import "variables.less";

.summary {
    p {
        width: @click-tile-width;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
}

@margin: 4px;

@media (max-width: @click-tile-width) {
    .summary {
        p {
            width: calc(100% - (2 * @margin));
            margin-left: @margin;
            margin-right: @margin;
        }
    }
}