
// color
@primary-color: #061e5c;
@text-color: white;
@color3: #0080d6;
@accent-color: #030e2b;

// fonts
@text-font: "Raleway", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;;
@elegant-font: "Cinzel", "Bookman Old Style", "Palatino Linotype", "Book Antiqua", Georgia, Palatino, serif;

// standards
@standard-radius: 3px;
@transition-time: 0.5s;

//shadows
@tile-shadow: 
    0 5px 4px rgba(0,0,0,.7),
    0 9px 14px rgba(0,0,0,.4),
    0 19px 24px rgba(0,0,0,.4);

@content-margin: 10px;

//click-tiles
@click-tile-width: 650px;